@import "variables.scss";

.center {
    text-align: center;
}

.p30 {
    padding: 30px;
}

.m80 {
    margin-left: 80px;
}

.w138 {
    width: 138px;
}

.h160 {
    height: 140px;
}

.h20 {
    height: 20px;
}

.w80 {
    width: 80px;
}

.m30 {
    margin: 30px;
}

.listnone {
    list-style: none;
}

.clear {
    clear: both;
}

.darkgrey {
    background: $darkgrey;
}

.darkgreyshade {
    background-color: $darkgreyshade;
}

.darkgreytint {
    background-color: $darkgreytint;
}

.lightgrey {
    background: $lightgrey;
}

.lightgreyshade {
    background: $lightgreyshade;
}

.lightgreytint {
    background: $lightgreytint;
}

.darkblue {
    background-color: $darkblue;
}

.darkblueshade {
    background-color: $darkblueshade;
}

.darkbluetint {
    background-color: $darkbluetint;
}

.offblue {
    background-color: $offblue;
}

.offblueshade {
    background-color: $offblueshade;
}

.offbluetint {
    background-color: $offbluetint;
}

.center2 {
    align-content: center;
}

.p10 {
    padding-left: 10%;
}