@import url('https://fonts.googleapis.com/css?family=Lato');

@import url('https://fonts.googleapis.com/css?family=Patua+One');

$darkgrey: #5E5C5D;
$darkgreyshade: #444344;
$darkgreytint: #EAE5E8;

$lightgrey: #AAA7A9;
$lightgreyshade: #6A686A;
$lightgreytint: #B7B4B6;

$darkblue: #273856;
$darkblueshade: #1B273C;
$darkbluetint: #6793E2;

$offblue: #5484A8;
$offblueshade: #345268;
$offbluetint: #5A8EB5;

$white: white;

$black: black;