@import url('https://fonts.googleapis.com/css?family=Raleway');



$lightblue: #5FCEFF;
$darkpurple: #63577F;
$pink: #FF61A2;
$orange: #FFAE34;
$background: #DFFCFF;

$font-main: 'Raleway', sans-serif;
