body {
    font-family: 'Poppins', sans-serif;
    background: #424242;
    padding: 30px;
    margin: 0px;
    text-align: center;
    color: white;
}

h1, h2 {
    color: aquamarine;
    text-align: center;
}

nav {
    text-align: center;
}

footer {
    text-align: center;
}

nav a {
    text-decoration: none;
    border-radius: 15px;
    padding: 10px 20px;
    color: darkcyan;
}

a:hover, a:visited {
    color: darkturquoise;
    text-decoration: none;
    background: white;
}