@import url('https://fonts.googleapis.com/css?family=Changa+One|Open+Sans');


$greygreen: #C9D2CB;
$offblack: #514A45;
$violet: #AB8FBF;
$lightpurple: #BDBEDE;
$mint: #D1E8D5;
$darkviolet: #806B8F;

